ul {
    list-style: none;
}

#container {
    display: grid;

    grid-template-columns: 1fr 5fr;
    grid-template-rows: 20vh auto;
}

#sidebar {
    width: 15vw;
    grid-column: 1 / 2;
    grid-row: 1 / 5;

    background-color: darkgreen;
    color: white;

    font-size: 25px;
}

ul li img{
    width: 10%;
    height: auto;
    padding-right: 15px;

    filter: invert(100%)
}

#dashboard img{
    width: 20%;
}

li {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px;
}

#header {
    width: 85vw;
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    background-color: green;

    box-shadow: 0px 5px 10px -5px black;
    z-index: 10;
}

#searchbar, #noti-account, #account-welcome, #project-options {
    height: 8vh;
    width: 40vw;
    display: flex;
}

#searchbar{
    width: 60vw;
    justify-content: left;
    align-items: center;
}

#searchbar img{
    width: 3.5%;
    padding-right: 15px;
    filter: invert(100%)
}

#searchbar input{
    width: 35vw;
    height: 2.5vh;
    border-radius: 10px;
}

#noti-account {
    width: 20vw;
    justify-content:center;
    align-items: center;

    color: white;
}

#noti-account button{
    background: none;
    border: none;
    cursor:pointer;
    padding-right: 10px;
}

.notification img{
    width: 30px;
    filter: invert(100%);
    margin-right: 20px;
}

.account {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 25px;
}

.account img {
    width: 40px;
    border-radius: 20px;
    margin-right: 20px;
}

#account-welcome {
    display: flex;
    justify-content: left;
    align-items: center;

    margin-bottom: 20px;
}

#account-welcome img {
    width: 70px;
    border-radius: 35px;
    margin-right: 20px;
}

.welcome-text {
    display: flex;
    flex-direction: column;

    color: white;
}

.welcome {
    font-size: 20px;
}

.welcome-text .name {
    font-size: 35px;
}

#project-options {
    justify-content: space-evenly;
    align-items: center;
}

#project-options button{
    font-size: 25px;
    border-radius: 20px;
    padding: 5px 50px;
    color: white;
    background-color: darkolivegreen;
    border: none;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    cursor:pointer;
}

#main-body {
    width: 85vw;
    grid-column: 2 / 3;
    grid-row: 2 / 5;

    background-color: beige;

    display: grid;
    grid-template-columns: 4fr 1.5fr;
    grid-template-rows: auto;
}

.main-body-titles{
    font-size: 25px;
    font-weight: bold;
    padding: 20px 0px;
}

#projects .main-body-titles{
    padding-left: 5.5%;
}

#projects {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

#project-card-holder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
    place-items: center;
}

.project-card {
    width: 25vw;
    background-color: white;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
    border-radius: 10px;
    border-left: 5px solid orange;

    display: flex;
    flex-direction: column;
}

.project-title{
    font-size: 25px;
    font-weight: bold;
    padding-top: 25px;
    padding-left: 10px;
}

.project-desc {
    font-size: 18px;
    padding-top: 20px;
    padding-left: 10px;
}

.project-options{
    display: flex;
    justify-content: right;
}

.project-options button{
    background: none;
    border: none;
    cursor:pointer;
    margin-left: 15px;
    margin-right: 20px;
    margin-top: 50px;
    margin-bottom: 25px;
}

.project-options img{
    width: 30px;
}

#annoucements {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

#announcements-holder {
    display: grid;
    background-color: white;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
    border-radius: 10px;
    width: 18vw;

    padding-left: 30px;
    padding-right: 30px;
}

.announcement-card{
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid gray;
}

.announcement-card:last-child {
    border-bottom: none;
}

.announcement-title {
    font-size: 20px;
    font-weight: bold;
    padding-top: 25px;
}

.announcement-desc {
    font-size: 15px;
    padding: 10px 0px 30px 0px;
}

#trending {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

#trending-holder {
    display: grid;
    background-color: white;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
    border-radius: 10px;
    width: 18vw;

    padding-left: 30px;
    padding-right: 30px;
}

.trending-card {
    display: flex;
    padding: 15px 0px;

    justify-content: left;
    align-items: center;
}

.trending-card:first-child{
    padding-top: 30px;
}

.trending-card:last-child{
    padding-bottom: 30px;
}

.trending-card img{
    width: 60px;
    border-radius: 30px;
    margin-right: 20px;
    margin-left: 40px;
}

.trending-handle {
    font-weight: bold;
    font-size: 20px;
}

.trending-name {
    font-size: 18px;
}