ul {
    list-style: none;
}

#container {
    display: grid;

    grid-template-columns: 1fr 5fr;
    grid-template-rows: 18vh repeat(3, 27.5vh);
}

#sidebar {
    width: 15vw;
    grid-column: 1 / 2;
    grid-row: 1 / 5;

    background-color: darkgreen;
    color: white;

    font-size: 25px;
}

ul li img{
    width: 10%;
    height: auto;
    padding-right: 15px;

    filter: invert(100%)
}

#dashboard img{
    width: 20%;
}

li {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px;
}

#header {
    width: 85vw;
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    background-color: green;

    box-shadow: 0px 5px 10px -5px black;
    z-index: 10;
}

#searchbar, #noti-account, #account-welcome, #project-options {
    height: 9vh;
    width: 40vw;
    display: flex;
}

#searchbar{
    width: 60vw;
    justify-content: center;
    align-items: center;
}

#searchbar input{
    width: 35vw;
}

#noti-account {
    width: 20vw;
    justify-content:center;
    align-items: center;
}

#project-options {
    justify-content: space-evenly;
    align-items: center;
}

#main-body {
    width: 85vw;
    grid-column: 2 / 3;
    grid-row: 2 / 5;

    background-color: beige;
}